INSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P1', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_flag" x="50" y="50"><next><block type="s_move"><value name="STEPS"><shadow type="math_number"><field name="NUM">10</field></shadow></value></block></next></block></xml>', 'Great! You made the cat walk!', 'Snap blocks together to make them work in order!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P1';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P1', 0, '≡ƒƒí Open the Events category!', '.blocklyTreeRow[aria-label*='Events']', NULL);\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P1', 1, '≡ƒÜ⌐ Drag the ''When Flag Clicked'' block to your workspace!', NULL, 's_when_flag');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P1', 2, '≡ƒö╡ Open Motion and pick ''Move 10 steps''!', '.blocklyTreeRow[aria-label*='Motion']', NULL);\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P1', 3, '≡ƒæç Snap it under the flag and click Γû╢ Run!', '#run-btn', NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P2', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_flag" x="50" y="50"><next><block type="s_move"><value name="STEPS"><shadow type="math_number"><field name="NUM">10</field></shadow></value><next><block type="s_say"><value name="MSG"><shadow type="text"><field name="TEXT">Hello Kido!</field></shadow></value></block></next></block></next></block></xml>', 'Amazing! Your sprite can talk now!', 'The cat will move FIRST, then it will talk!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P2';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P2', 0, '≡ƒÜ⌐ Start with the ''When Flag Clicked'' block!', NULL, 's_when_flag');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P2', 1, '≡ƒö╡ Add a ''Move 10 steps'' block!', NULL, 's_move');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P2', 2, '≡ƒƒú Now open Looks and add the ''Say Hello'' block!', '.blocklyTreeRow[aria-label*='Looks']', 's_say');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P2', 3, 'Γû╢ Click Run to see the cat move and talk!', NULL, NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P3', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_flag" x="50" y="50"><next><block type="s_move"><value name="STEPS"><shadow type="math_number"><field name="NUM">10</field></shadow></value><next><block type="s_start_sound"><field name="SOUND">meow</field></block></next></block></next></block></xml>', 'Purr-fect! You added sound to your movement!', 'Try the Bark sound too by clicking the dropdown on the sound block!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P3';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P3', 0, '≡ƒÜ⌐ Add the ''When Flag Clicked'' block!', NULL, 's_when_flag');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P3', 1, '≡ƒö╡ Add ''Move 10 steps''!', NULL, 's_move');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P3', 2, '≡ƒÄ╡ Open Sound and add ''Start sound Meow''!', '.blocklyTreeRow[aria-label*='Sound']', 's_start_sound');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P3', 3, 'Γû╢ Press Run and listen to the Meow!', NULL, NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P4', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_flag" x="50" y="50"><next><block type="s_repeat"><value name="N"><shadow type="math_number"><field name="NUM">5</field></shadow></value><statement name="DO"><block type="s_next_costume"><next><block type="s_wait"><value name="SECS"><shadow type="math_number"><field name="NUM">0.5</field></shadow></value><next><block type="s_start_sound"><field name="SOUND">meow</field></block></next></block></next></block></statement></block></next></block></xml>', 'Wow! Look at that sprite dance!', 'The ''Repeat'' block makes things happen over and over again!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P4';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P4', 0, '≡ƒÜ⌐ Start with the Green Flag!', NULL, 's_when_flag');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P4', 1, '≡ƒƒá Open Control and pick the ''Repeat 10'' block!', '.blocklyTreeRow[aria-label*='Control']', 's_repeat');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P4', 2, '≡ƒƒú Put ''Next Costume'' inside the repeat block!', NULL, 's_next_costume');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P4', 3, '≡ƒƒá Add a ''Wait 1 second'' block and change it to 0.5!', NULL, 's_wait');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P4', 4, 'Γû╢ Click Run and watch the dance!', NULL, NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P5', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_flag" x="50" y="50"><next><block type="s_move"><value name="STEPS"><shadow type="math_number"><field name="NUM">50</field></shadow></value><next><block type="s_wait"><value name="SECS"><shadow type="math_number"><field name="NUM">1</field></shadow></value><next><block type="s_next_backdrop"></block></next></block></next></block></next></block></xml>', 'You traveled to a whole new world!', 'You can change the background to any place you want!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P5';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P5', 0, '≡ƒÜ⌐ Start with ''When Flag Clicked''!', NULL, 's_when_flag');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P5', 1, '≡ƒö╡ Move the sprite by 50 steps!', NULL, 's_move');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P5', 2, '≡ƒƒá Add a ''Wait 1 second'' block!', NULL, 's_wait');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P5', 3, '≡ƒƒú Add ''Next Backdrop'' from the Looks category!', NULL, 's_next_backdrop');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P5', 4, 'Γû╢ Run it to travel to a new world!', NULL, NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P6', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_flag" x="50" y="50"><next><block type="s_show"><next><block type="s_wait"><value name="SECS"><shadow type="math_number"><field name="NUM">1</field></shadow></value><next><block type="s_hide"></block></next></block></next></block></next></block></xml>', 'Ta-da! A real magic trick!', 'Use ''Show'' and ''Hide'' to make things appear and disappear!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P6';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P6', 0, '≡ƒÜ⌐ Start with the Flag!', NULL, 's_when_flag');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P6', 1, '≡ƒƒú Pick the ''Show'' block from Looks!', NULL, 's_show');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P6', 2, '≡ƒƒá Add a ''Wait'' block so we can see it!', NULL, 's_wait');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P6', 3, '≡ƒƒú Now pick the ''Hide'' block!', NULL, 's_hide');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P6', 4, 'Γû╢ Click Run to see a magic trick!', NULL, NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P7', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_sprite_clicked" x="50" y="50"><next><block type="s_change_effect"><field name="EFFECT">color</field><value name="VAL"><shadow type="math_number"><field name="NUM">25</field></shadow></value></block></next></block></xml>', 'Magic Touch! It changes colors!', 'Instead of a flag, this project starts when YOU touch the sprite!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P7';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P7', 0, '≡ƒƒí Open Events and pick ''When this sprite clicked''!', '.blocklyTreeRow[aria-label*='Events']', 's_when_sprite_clicked');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P7', 1, '≡ƒƒú Add ''Change color effect by 25''!', NULL, 's_change_effect');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P7', 2, 'Γû╢ Now click on the actual sprite on the stage to see it change!', NULL, NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P8', '<xml xmlns="https://developers.google.com/blockly/xml">
            <block type="s_when_key" x="20" y="20"><field name="KEY">up arrow</field><next><block type="s_change_y"><value name="AMT"><shadow type="math_number"><field name="NUM">10</field></shadow></value></block></next></block>
            <block type="s_when_key" x="20" y="120"><field name="KEY">down arrow</field><next><block type="s_change_y"><value name="AMT"><shadow type="math_number"><field name="NUM">-10</field></shadow></value></block></next></block>
            <block type="s_when_key" x="250" y="20"><field name="KEY">right arrow</field><next><block type="s_change_x"><value name="AMT"><shadow type="math_number"><field name="NUM">10</field></shadow></value></block></next></block>
            <block type="s_when_key" x="250" y="120"><field name="KEY">left arrow</field><next><block type="s_change_x"><value name="AMT"><shadow type="math_number"><field name="NUM">-10</field></shadow></value></block></next></block>
        </xml>', 'You built a keyboard controller!', 'X moves Left and Right. Y moves Up and Down!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P8';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P8', 0, '≡ƒƒí Add ''When key pressed'' and change it to Up Arrow!', NULL, 's_when_key');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P8', 1, '≡ƒö╡ Add ''Change Y by 10'' to move up!', NULL, 's_change_y');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P8', 2, '≡ƒƒí Do the same for Down, Left, and Right arrows!', NULL, NULL);\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P8', 3, 'Γî¿∩╕Å Use your keyboard to walk around!', NULL, NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P9', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_flag" x="50" y="50"><next><block type="s_goto_xy"><value name="X"><shadow type="math_number"><field name="NUM">-200</field></shadow></value><value name="Y"><shadow type="math_number"><field name="NUM">0</field></shadow></value><next><block type="s_glide_xy"><value name="SECS"><shadow type="math_number"><field name="NUM">2</field></shadow></value><value name="X"><shadow type="math_number"><field name="NUM">200</field></shadow></value><value name="Y"><shadow type="math_number"><field name="NUM">0</field></shadow></value></block></next></block></next></block></xml>', 'What a smooth journey!', 'Glide makes the movement look much smoother than teleporting!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P9';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P9', 0, '≡ƒÜ⌐ Start with the Flag!', NULL, 's_when_flag');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P9', 1, '≡ƒö╡ Pick ''Go to X Y'' and set X to -200!', NULL, 's_goto_xy');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P9', 2, '≡ƒö╡ Pick ''Glide 1 secs to X Y'' and set X to 200!', NULL, 's_glide_xy');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P9', 3, 'Γû╢ Click Run to see the smooth journey!', NULL, NULL);\nINSERT INTO tutor_solutions (lesson_id, xml, message, tip) VALUES ('L1P10', '<xml xmlns="https://developers.google.com/blockly/xml"><block type="s_when_flag" x="50" y="50"><next><block type="s_repeat"><value name="N"><shadow type="math_number"><field name="NUM">4</field></shadow></value><statement name="DO"><block type="s_move"><value name="STEPS"><shadow type="math_number"><field name="NUM">50</field></shadow></value><next><block type="s_turn_r"><value name="DEG"><shadow type="math_number"><field name="NUM">90</field></shadow></value></block></next></block></statement><next><block type="s_say"><value name="MSG"><shadow type="text"><field name="TEXT">I graduated Level 1!</field></shadow></value></block></next></block></next></block></xml>', 'Congratulations! You are now a Kido Dev Master!', 'You can use Repeat blocks to make the sprite walk in a square!') ON CONFLICT (lesson_id) DO UPDATE SET xml = EXCLUDED.xml, message = EXCLUDED.message, tip = EXCLUDED.tip;\nDELETE FROM tutorial_steps WHERE lesson_id = 'L1P10';\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P10', 0, '≡ƒÄô It''s your graduation! Use everything you learned!', NULL, NULL);\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P10', 1, '≡ƒÜ⌐ Start with the Flag!', NULL, 's_when_flag');\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P10', 2, '≡ƒö╡ Combine Move, Turn, and Say blocks!', NULL, NULL);\nINSERT INTO tutorial_steps (lesson_id, step_index, message, target_selector, check_xml_contains) VALUES ('L1P10', 3, 'Γû╢ Build your masterpiece!', NULL, NULL);\n
